## Capstone Project: Data Cleaning Assignment

**Assignment: Create a short document (1-2 pages) in your github describing the data wrangling steps that you undertook to clean your capstone project data set. What kind of cleaning steps did you perform? How did you deal with missing values, if any? Were there outliers, and how did you decide to handle them? This document will eventually become part of your milestone report.**  
  
**In this notebook, raw data from the Copper Mountain, CO SNOTEL site and Copper Mountain, CO ASOS station will be wrangled for further use**

------

-----

**Step 0: Import necessary modules**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dtb
import os
from glob import glob
import datetime as dt

### A.) Data Cleaning of Copper Mountain SNOTEL Data

----

**Step A1: Hourly data files were downloaded on an annual basis.  Thus, there is one file for each year (2005-2017).  The data are comma separated and contain headers.  Each snotel data file row contains hourly or 3-hourly observations of the following parameters:**  
**Field 1. Site_ID:**  NRCS Site Identifier  
**Field 2. Date:**  Date of observation  
**Field 3. Time:** Hour of observation  
**Field 4. WTEQ.I-1 (in):** Recorded Water Equivalent of snow  
**Field 5. PREC.I-1 (in):** Recorded Precipitation  
**Field 6. TOBS.I-1 (DegC):** Recorded Temperature  
**Field 7. SNWD.I (in):** Recorded Snow Depth  Here, the data is read in using the glob funcction**  
**Here, the each data file is read in.  The date and time columns are merged together and made into the index for the dataframe

In [2]:

snotel_files = glob(r'C:\Users\RAPP\Documents\Capstone\data\SNOTEL\415_STAND_YEAR=*.csv')
print(snotel_files)
snotel_data = [pd.read_csv(f, header=1, parse_dates=[['Date', 'Time']], index_col='Date_Time') for f in snotel_files]

snotel_df= pd.concat(snotel_data)
print(snotel_df.head())
print(snotel_df.describe())

['C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2005.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2006.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2007.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2008.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2009.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2010.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2011.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2012.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2013.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2014.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2015.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2016.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2017.csv', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\SNOTEL\\415_STAND_YEAR=2018.csv']
                     Site Id  WTEQ.I-1 (in)   PREC.I-1 (in)   \
Date_Time
2005-01-01 00:00:00      415             5.2             5.8
2005-01-01 03:00:00      415             5.2             6.0
2005-01-02 00:00:00      415             5.1             5.8
2005-01-02 03:00:00      415             5.1             5.8
2005-01-03 00:00:00      415             5.1             5.9

                     TOBS.I-1 (degC)   SNWD.I-1 (in)   Unnamed: 7
Date_Time
2005-01-01 00:00:00              -2.1           -99.9         NaN
2005-01-01 03:00:00              -4.2           -99.9         NaN
2005-01-02 00:00:00             -11.2           -99.9         NaN
2005-01-02 03:00:00             -11.9           -99.9         NaN
2005-01-03 00:00:00              -8.9           -99.9         NaN
        Site Id  WTEQ.I-1 (in)   PREC.I-1 (in)   TOBS.I-1 (degC)   \
count  104069.0   104069.000000   104069.000000     104069.000000
mean      415.0        0.519156       14.761584          1.323900
std         0.0       24.188216       15.142395          9.345465
min       415.0      -99.900000      -99.900000        -99.900000
25%       415.0        0.000000        7.000000         -5.000000
50%       415.0        2.600000       16.200000          1.300000
75%       415.0       10.700000       23.600000          7.700000
max       415.0       26.200000       37.900000         25.800000

       SNWD.I-1 (in)   Unnamed: 7
count   104069.000000         0.0
mean         6.345225         NaN
std         44.534695         NaN
min       -196.000000         NaN
25%          0.000000         NaN
50%         10.000000         NaN
75%         37.000000         NaN
max        189.000000         NaN

**Step A2:  The missing code is for all data is --99.  Set these to Nan values**

In [3]:
#set outliers and missing value to Nan
xx=(snotel_df[:]==-99.9)
snotel_df[xx]=np.NaN
print(snotel_df.describe())

        Site Id  WTEQ.I-1 (in)   PREC.I-1 (in)   TOBS.I-1 (degC)   \
count  104069.0    98736.000000   102990.000000     104027.000000
mean      415.0        5.943067       15.962864          1.364769
std         0.0        6.525494        9.618173          9.123291
min       415.0      -12.000000       -0.300000        -33.100000
25%       415.0        0.000000        7.200000         -5.000000
50%       415.0        3.500000       16.300000          1.300000
75%       415.0       11.100000       23.700000          7.700000
max       415.0       26.200000       37.900000         25.800000

       SNWD.I-1 (in)   Unnamed: 7
count    91277.000000         0.0
mean        21.234944         NaN
std         21.391861         NaN
min       -196.000000         NaN
25%          0.000000         NaN
50%         18.000000         NaN
75%         39.000000         NaN
max        189.000000         NaN

**Step A3:  The dataset should have a value for every hour, so use asfreq to make sure there is an observation for each hour.  The fill_value will be set to NaN**

In [4]:
snotel_df=snotel_df.asfreq(freq='1H', fill_value=np.NaN)
print(snotel_df.describe())

        Site Id  WTEQ.I-1 (in)   PREC.I-1 (in)   TOBS.I-1 (degC)   \
count  104045.0    98725.000000   102968.000000     104027.000000
mean      415.0        5.943730       15.960916          1.364769
std         0.0        6.525556        9.617842          9.123291
min       415.0      -12.000000       -0.300000        -33.100000
25%       415.0        0.000000        7.200000         -5.000000
50%       415.0        3.500000       16.300000          1.300000
75%       415.0       11.100000       23.700000          7.700000
max       415.0       26.200000       37.900000         25.800000

       SNWD.I-1 (in)   Unnamed: 7
count    91266.000000         0.0
mean        21.237504         NaN
std         21.391880         NaN
min       -196.000000         NaN
25%          0.000000         NaN
50%         18.000000         NaN
75%         39.000000         NaN
max        189.000000         NaN

**Step A4:  As temperature and snow depth are the only variables of future interest, save the snow depth and temperature columns of this dataframe as a tab delimted file, ready for further analysis**

In [5]:
snotel_df.to_csv('snotel_df.dat',sep = ',', float_format = '%.2f',columns=['TOBS.I-1 (degC) ', 'SNWD.I-1 (in) '])

### B.) Data Cleaning of Copper Mountain, CO ASOS Data 

----

**Step B1: The raw ASOS data was obtained in Integrated Surface Hourly Lite format. A single file with hourly values was downloaded for each year (2006-2017).  According to documentation, this format is fixed format delimtited by whitespace.  From the data documentation, the data has 12 columns:  **

**Field 1: Pos 1-4, Length 4: Observation Year  
Field 2: Pos 6-7, Length 2: Observation Month  
Field 3: Pos 9-11, Length 2: Observation Day  
Field 4: Pos 12-13, Length 2: Observation Hour  
Field 5: Pos 14-19, Length 6:  Air Temperature, Units: deg C scaled by factor of 10  
Field 6: Pos 20-24, Length 6: Dew Point Temperature, Units: deg C scaled by factor of 10  
Field 7: Pos 26-31, Length 6: Sea Level Pressure, Units: hectoPascals scaled by factor of 10  
Field 8: Pos 32-37, Length 6: Wind Direction, Units: angular degrees  
Field 9: Pos 38-43, Length 6: Wind Speed Rate, Units: m/s scaled by factor of 10  
Field 10: Pos 44-49, Length 6: Sky Condition Total Coverage Code  
Field 11: Pos 50-55, Length 6: Liquid Precipitation Depth Dimension - One Hour Duration, Units: mm scaled by factor of 10  
Field 12: Pos 56-61, Length 6: Liquid Precipitation Depth Dimension - Six Hour Duration, Units: mm scaled by factor of 10  **
  
**Below the data files are read in using pd.read_csv. Specific header names appropriate for each column are specified in the header_names list. In addition, the dataframe index is created using the first four date/time columns.**

In [6]:

asos_files = glob(r'C:\Users\RAPP\Documents\Capstone\data\ASOS\722061-03038*\722061-03038*')
print(asos_files)

header_names = ('Year', 'Month', 'Day', 'Hour', 'Temperature', 'Dewpoint', 'Pressure', 'WindDirection', 'WindSpeed', 'CloudCover', '1hr_Precipitation', '6hr_Precipitation')
#asos_data = [pd.read_csv(f, delim_whitespace=True, header = None) for f in asos_files]
asos_data = [pd.read_csv(f, delim_whitespace=True, header = None, names = header_names, parse_dates={'Date_Time': ['Year', 'Month', 'Day', 'Hour']}, index_col='Date_Time') for f in asos_files]
#parse_dates={'Date_Time': ['Year', 'Month', 'Day', 'Hour']
raw_asos_df= pd.concat(asos_data)

print(raw_asos_df.head())

['C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2006\\722061-03038-2006', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2007\\722061-03038-2007', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2008\\722061-03038-2008', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2009\\722061-03038-2009', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2010\\722061-03038-2010', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2011\\722061-03038-2011', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2012\\722061-03038-2012', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2013\\722061-03038-2013', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2014\\722061-03038-2014', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2015\\722061-03038-2015', 'C:\\Users\\RAPP\\Documents\\Capstone\\data\\ASOS\\722061-03038-2017\\722061-03038-2017']
                     Temperature  Dewpoint  Pressure  WindDirection  \
Date_Time
2006-01-01 01:00:00          -10       -70     -9999            220
2006-01-01 02:00:00          -30       -80     -9999            230
2006-01-01 03:00:00          -40       -80     -9999            230
2006-01-01 04:00:00          -40       -90     -9999            240
2006-01-01 05:00:00          -50       -80     -9999            210

                     WindSpeed  CloudCover  1hr_Precipitation  \
Date_Time
2006-01-01 01:00:00         77       -9999              -9999
2006-01-01 02:00:00         51       -9999              -9999
2006-01-01 03:00:00         36       -9999              -9999
2006-01-01 04:00:00         62       -9999              -9999
2006-01-01 05:00:00         62       -9999              -9999

                     6hr_Precipitation
Date_Time
2006-01-01 01:00:00              -9999
2006-01-01 02:00:00              -9999
2006-01-01 03:00:00              -9999
2006-01-01 04:00:00              -9999
2006-01-01 05:00:00              -9999

**Step B2. Make a copy of the raw dataframe and call it asos_df.  Most of the raw data is in non standard units (e.g. deg C/10) will be loaded and scaled to  more standard units.  Thus column name in the raw dataframe are updated to reflect this.  All missing data filling will be performed in new dataframe**

In [7]:

asos_df = raw_asos_df[:].copy()
print(asos_df.keys())
print(asos_df.index)
asos_df.rename(columns={'Temperature': 'Temperature_degC', 'Dewpoint': 'Dewpoint_degC', 'Pressure': 'Pressure_hp' , 'WindSpeed': 'WindSpeed_m/s', 'WindDirection': 'WindDirection_deg', '1hr_Precipitation': '1hr_Precipitation_mm', '6hr_Precipitation_mm': 'PREC_6hr_mm'}, inplace=True)
print(asos_df.keys())

Index(['Temperature', 'Dewpoint', 'Pressure', 'WindDirection', 'WindSpeed',
       'CloudCover', '1hr_Precipitation', '6hr_Precipitation'],
      dtype='object')
DatetimeIndex(['2006-01-01 01:00:00', '2006-01-01 02:00:00',
               '2006-01-01 03:00:00', '2006-01-01 04:00:00',
               '2006-01-01 05:00:00', '2006-01-01 06:00:00',
               '2006-01-01 07:00:00', '2006-01-01 08:00:00',
               '2006-01-01 09:00:00', '2006-01-01 10:00:00',
               ...
               '2017-12-04 13:00:00', '2017-12-04 14:00:00',
               '2017-12-04 15:00:00', '2017-12-04 17:00:00',
               '2017-12-04 18:00:00', '2017-12-04 19:00:00',
               '2017-12-04 20:00:00', '2017-12-04 21:00:00',
               '2017-12-04 22:00:00', '2017-12-04 23:00:00'],
              dtype='datetime64[ns]', name='Date_Time', length=76125, freq=None)
Index(['Temperature_degC', 'Dewpoint_degC', 'Pressure_hp', 'WindDirection_deg',
       'WindSpeed_m/s', 'CloudCover', '1hr_Precipitation_mm',
       '6hr_Precipitation'],
      dtype='object')

**Step B3.  The data documentation states that all missing values are set to -9999.  These will be changed to np.NaN in the asos_df dataframe. **

In [8]:
#set outliers and missing value to Nan
xx= asos_df[:] == -9999.0
asos_df[xx]=np.NaN


print(asos_df.describe(), print(raw_asos_df.describe()))

        Temperature      Dewpoint  Pressure  WindDirection     WindSpeed  \
count  76125.000000  76125.000000   76125.0   76125.000000  76125.000000
mean      13.537800   -107.901176   -9999.0    -502.719724   -659.407094
std      168.622366    436.731206       0.0    2638.266234   2594.026616
min    -9999.000000  -9999.000000   -9999.0   -9999.000000  -9999.000000
25%      -50.000000   -140.000000   -9999.0     180.000000     31.000000
50%       10.000000    -90.000000   -9999.0     250.000000     57.000000
75%       90.000000    -30.000000   -9999.0     270.000000     82.000000
max      240.000000    100.000000   -9999.0     360.000000    283.000000

         CloudCover  1hr_Precipitation  6hr_Precipitation
count  76125.000000       76125.000000            76125.0
mean   -1951.280000       -9859.765163            -9999.0
std     3965.987069        1172.262188                0.0
min    -9999.000000       -9999.000000            -9999.0
25%        0.000000       -9999.000000            -9999.0
50%        0.000000       -9999.000000            -9999.0
75%        7.000000       -9999.000000            -9999.0
max        9.000000         140.000000            -9999.0
       Temperature_degC  Dewpoint_degC  Pressure_hp  WindDirection_deg  \
count      76110.000000   75982.000000          0.0       70674.000000
mean          15.511102     -89.285883          NaN         229.716869
std           93.151409      81.353954          NaN          72.902342
min         -280.000000    -450.000000          NaN           0.000000
25%          -50.000000    -140.000000          NaN         190.000000
50%           10.000000     -90.000000          NaN         260.000000
75%           90.000000     -30.000000          NaN         280.000000
max          240.000000     100.000000          NaN         360.000000

       WindSpeed_m/s    CloudCover  1hr_Precipitation_mm  6hr_Precipitation
count   70674.000000  61250.000000           1059.000000                0.0
mean       60.944393      3.166286              9.736544                NaN
std        34.360041      3.585964             12.352705                NaN
min         0.000000      0.000000              2.000000                NaN
25%        36.000000      0.000000              3.000000                NaN
50%        57.000000      0.000000              5.000000                NaN
75%        82.000000      8.000000             10.000000                NaN
max       283.000000      9.000000            140.000000                NaN   None

**Step B4. The data should contain an observation for each hour. The function asfreq will be to insure that is the case.  Any missing hours will be filled with np.Nan**

In [9]:
asos_df=asos_df.asfreq(freq='1H', fill_value=np.NaN)
print(asos_df.describe())

       Temperature_degC  Dewpoint_degC  Pressure_hp  WindDirection_deg  \
count      76110.000000   75982.000000          0.0       70674.000000
mean          15.511102     -89.285883          NaN         229.716869
std           93.151409      81.353954          NaN          72.902342
min         -280.000000    -450.000000          NaN           0.000000
25%          -50.000000    -140.000000          NaN         190.000000
50%           10.000000     -90.000000          NaN         260.000000
75%           90.000000     -30.000000          NaN         280.000000
max          240.000000     100.000000          NaN         360.000000

       WindSpeed_m/s    CloudCover  1hr_Precipitation_mm  6hr_Precipitation
count   70674.000000  61250.000000           1059.000000                0.0
mean       60.944393      3.166286              9.736544                NaN
std        34.360041      3.585964             12.352705                NaN
min         0.000000      0.000000              2.000000                NaN
25%        36.000000      0.000000              3.000000                NaN
50%        57.000000      0.000000              5.000000                NaN
75%        82.000000      8.000000             10.000000                NaN
max       283.000000      9.000000            140.000000                NaN

**Step B5: According to documentation, many of the variables' data have been scaled by a factor of 10.  To get actual values in more standard units for some variables, the raw data needs to be divided by 10.  
This operation will be saved in the copied dataframe just made.**

In [10]:
asos_df['Temperature_degC'] = raw_asos_df['Temperature']/10
asos_df['DP_degC'] = raw_asos_df['Dewpoint']/10
asos_df['SLP_hp'] = raw_asos_df['Pressure']/10
asos_df['WS_m/s'] = raw_asos_df['WindSpeed']/10
asos_df['PREC_1hr_mm'] = raw_asos_df['1hr_Precipitation']/10
asos_df['PREC_6hr_mm'] = raw_asos_df['6hr_Precipitation']/10


print(asos_df.describe())

       Temperature_degC  Dewpoint_degC  Pressure_hp  WindDirection_deg  \
count      76125.000000   75982.000000          0.0       70674.000000
mean           1.353780     -89.285883          NaN         229.716869
std           16.862237      81.353954          NaN          72.902342
min         -999.900000    -450.000000          NaN           0.000000
25%           -5.000000    -140.000000          NaN         190.000000
50%            1.000000     -90.000000          NaN         260.000000
75%            9.000000     -30.000000          NaN         280.000000
max           24.000000     100.000000          NaN         360.000000

       WindSpeed_m/s    CloudCover  1hr_Precipitation_mm  6hr_Precipitation  \
count   70674.000000  61250.000000           1059.000000                0.0
mean       60.944393      3.166286              9.736544                NaN
std        34.360041      3.585964             12.352705                NaN
min         0.000000      0.000000              2.000000                NaN
25%        36.000000      0.000000              3.000000                NaN
50%        57.000000      0.000000              5.000000                NaN
75%        82.000000      8.000000             10.000000                NaN
max       283.000000      9.000000            140.000000                NaN

            DP_degC        SLP_hp        WS_m/s   PREC_1hr_mm   PREC_6hr_mm
count  76125.000000  7.612500e+04  76125.000000  76125.000000  7.612500e+04
mean     -10.790118 -9.999000e+02    -65.940709   -985.976516 -9.999000e+02
std       43.673121  3.410628e-13    259.402662    117.226219  3.410628e-13
min     -999.900000 -9.999000e+02   -999.900000   -999.900000 -9.999000e+02
25%      -14.000000 -9.999000e+02      3.100000   -999.900000 -9.999000e+02
50%       -9.000000 -9.999000e+02      5.700000   -999.900000 -9.999000e+02
75%       -3.000000 -9.999000e+02      8.200000   -999.900000 -9.999000e+02
max       10.000000 -9.999000e+02     28.300000     14.000000 -9.999000e+02

**Step B6. Now write the final dataframe to a tab delimited csv file for future use.**

In [11]:
asos_df.to_csv('asos_df.dat',sep = ',', float_format = '%.2f')